<header class="header">
  <nav>
    <div class="header-div left">
      {% if page.url == '/' %}
        <a href="/about/" class="nav-link">About</a>
      {% else %}
        <a href="/" class="nav-link">Blog</a>
      {% endif %}
    </div>
    <div class="header-div right">
      {% if page.url == '/contact/' %}
        <a id="contact-link" href="/about/" class="nav-link">About</a>
      {% else %}
        <a id="contact-link" href="/contact/" class="nav-link">Contact</a>
      {% endif %}
    </div>
    <div class="header-div center">
      <a id="about-link" href="/about/" class="nav-link">David Floyd</a>
    </div>
  </nav>
</header>
