---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.body-text {
  font-size: 11pt;
  margin-top: 2em;
}

.bullet {
  margin-top: 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#download {
  /* border-color: blue; */
  color: blue;
}

.header {
  background-color: black;
  font-size: 13pt;
  height: 2.5em;
}

#hide {
  /* border-color: red; */
  color: red;
}

.left {
  float: left;
}

.line-head {
  margin-bottom: 0;
}

nav {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#resume {
  width: 85%;
  margin: 0 auto;
}

.resume-button {
  border-color: black;
  border-radius: 5px;
  width: 25px;
  height: 20px;
  float: right;
  text-align: center;
  font-weight: bold;
  margin-left: 3px;
}

.right {
  float: right;
  text-align: right;
}
