---
---

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  font-family: 'Noto Sans', sans-serif;
  /* text-decoration: none; */
}

body {
  margin: 0;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.body-text {
  font-size: 11pt;
  margin-top: 2em;
}

.bullet {
  margin-top: 0.15em;
  margin-bottom: 0;
}

.bullet-last {
  margin-top: 0.15em;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#download {
  line-height: 1.25em;
}

.header {
  background-color: black;
  font-size: 13pt;
  height: 2.5em;
}

.hidden {
  visibility: hidden;
}

#hide {
  line-height: 1.25em;
}

.left {
  float: left;
}

.line-head {
  margin-bottom: 0;
}

nav {
  height: 100%;
  width: 65%;
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.no-pointer {
  cursor: none;
}

#resume {
  margin: 0 auto;
}

.resume-button {
  border-color: black;
  border-radius: 5px;
  float: right;
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
  margin-left: 3px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  height: 100%;
  padding: 2px 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.right {
  float: right;
  text-align: right;
}
